.movie {
  width: 260px;
  margin: 1rem;
  background-color: #313131;
  border-radius: 3px;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  position: relative;
  transition: transform 0.3s ease-in-out;
}

.movie img {
  object-fit: cover;
  height: 350px;
  width: 100%;
}

.movie:hover {
  transform: scale(1.05);
}

.movie-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  font-size: 16px;
  border-radius: 10%;
  height: 70px;
}

.movie-info h3 {
  padding: 0px;
  margin: 0;
  color: rgba(223, 223, 223, 0.808);
}

.movie-over {
  cursor: default;
  background-color: rgba(53, 53, 53, 0.863);
  color: #d1d1d1;
  padding: 1rem;
  position: absolute;
  z-index: 2;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: auto;
  max-height: 100%;
  transform: translateY(102%);
  transition: transform 0.3s ease-in-out;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  box-shadow: 0px -3px 5px rgba(0, 0, 0, 0.1);
}

.movie:hover .movie-over {
  transform: translateX(0%);
}

.tag {
  background-color: #464646;
  padding: 0.5rem;
  border-radius: 5px;
  font-weight: bold;
  font-size: 14px;
  width: 36px;
}

.tag.gold {
  color: rgba(235, 210, 102, 0.877);
}

.tag.green {
  color: rgba(173, 235, 102, 0.877);
}

.tag.lightgreen {
  color: rgba(186, 248, 135, 0.829);
}

.tag.orange {
  color: rgba(252, 152, 58, 0.829);
}

.tag.grape {
  color: rgba(214, 103, 38, 0.829);
}

.tag.red {
  color: rgba(209, 88, 72, 0.836);
}

.fav-like {
  position: absolute;
  top: 10px;
  right: 10px;
}

#favourite-btn {
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  background-color: transparent;
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 4rem;
}

#favourite-btn button {
  background: none;
  border: none;
  padding-right: 1rem;
}

#favourite-btn button:hover {
  transform: scale(1.1);
  transition: 0.1s;
}
