#modal-container {
  height: 100%;
  width: 100%;
  background-color: rgba(94, 94, 94, 0.74);
  position: fixed;
  top: 0;
  z-index: 1;
  display: none;
  justify-content: center;
  align-items: center;
}

.modal-overlay {
  background-color: rgba(0, 0, 0, 0.7);
  height: 100%;
  border-radius: 1rem;
}

#movie-modal {
  height: 90vh;
  width: 80vw;
  border-radius: 1rem;
}

#modal-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  color: rgb(255, 255, 255);

  overflow: auto;
  position: relative;
  font-size: 1.3rem;
  padding-top: 4rem;
  text-align: center;
}

#modal-info p {
  padding-right: 2.4rem;
  padding-left: 2.4rem;
  height: 20rem;
  overflow: auto;
}

#rating-box {
  text-align: center;
  width: 3.6rem;
  font-size: 1.6rem;
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-weight: bold;
}

#return-btn {
  position: absolute;
  bottom: 0;
  font-size: 1.4rem;
  font-weight: bold;
  margin: 2rem;
  color: black;
  height: 2.8rem;
  width: 10rem;
  cursor: pointer;
  background-color: rgb(255, 255, 255);
  border: none;
  border-radius: 0.6rem;
}

#return-btn:hover {
  background-color: rgb(43, 43, 43);
  color: rgba(255, 255, 255, 0.9);
  transition: 0.3s;
}

.tag {
  background-color: #464646;
  padding: 0.5rem;
}

.tag.gold {
  color: rgba(235, 210, 102, 0.877);
}

.tag.green {
  color: rgba(173, 235, 102, 0.877);
}

.tag.lightgreen {
  color: rgba(186, 248, 135, 0.829);
}

.tag.orange {
  color: rgba(252, 152, 58, 0.829);
}

.tag.grape {
  color: rgba(214, 103, 38, 0.829);
}

.tag.red {
  color: rgba(209, 88, 72, 0.836);
}

@media screen and (min-width: 600px) {
  #movie-modal {
    height: 90vh;
    width: 60vw;
  }

  #modal-info h1 {
    margin: 0;
  }

  #return-btn {
    margin-top: 1rem;
  }
}
