#modal-container {
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  z-index: 1;
  display: none;
  justify-content: center;
  align-items: center;
}

#movie-modal {
  display: flex;
  height: 70vh;
  width: 80vw;
  border-radius: 10px;
}

#movie-info-container {
  height: 80%;
}

#movie-info {
  height: 100%;
  color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-right: 10%;
  padding-left: 10%;
  text-align: center;
  padding-bottom: 10%;
  position: relative;
}

#rating-box {
  position: absolute;
  bottom: 0;
  left: 20px;
  font-weight: bold;
}

#return-btn {
  font-size: 15px;
  font-weight: bold;
  margin: 20px 0 0 20px;
  color: black;
  height: 50px;
  width: 100px;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.9);
  border: none;
  border-radius: 10px;
}

#return-btn:hover {
  background-color: black;
  color: rgba(255, 255, 255, 0.9);
  transition: 0.5s;
}

.modal-overlay {
  background-color: rgba(53, 53, 53, 0.726);
  height: 100%;
  border-radius: 10px;
}
