.modal-container {
  height: 100%;
  width: 100%;
  background-color: rgba(94, 94, 94, 0.74);
  position: fixed;
  top: 0;
  z-index: 1;
  display: none;
  justify-content: center;
  align-items: center;
}

.modal-overlay {
  background-color: rgba(0, 0, 0, 0.7);
  height: 100%;
  border-radius: 10px;
}

#movie-modal {
  height: 80vh;
  width: 80vw;
  border-radius: 10px;
  position: relative;
}

#movie-info-container {
  font-size: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  height: 80%;
}

#movie-info-container h3 {
  padding: 0;
  margin: 0;
}

#movie-info {
  color: rgb(255, 255, 255);
  padding-right: 10%;
  padding-left: 10%;
  overflow: auto;
  margin-bottom: 20px;
}

#rating-box {
  position: absolute;
  bottom: 10px;
  font-weight: bold;
  font-size: 25px;
}

#return-btn {
  font-size: 15px;
  font-weight: bold;
  margin: 20px;
  z-index: 4;
  color: black;
  height: 40px;
  width: 100px;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.9);
  border: none;
  border-radius: 10px;
}

#return-btn:hover {
  background-color: black;
  color: rgba(255, 255, 255, 0.9);
  transition: 0.5s;
}

@media screen and (min-width: 600px) {
  #movie-info-container {
    font-size: 22px;
  }

  #movie-modal {
    height: 90vh;
    width: 90vw;
  }
}
